.search__input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: none;
  padding-left: 24px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 22px;
  color: #1A1B22;
}

::placeholder {
  color: #B6BCBF;
}

@media (max-width: 767px) {
  .search__input {
    width: 288px;
    height: 56px;
  }
}