{
  "extends": ["airbnb-base"],
  "ignorePatterns": ["/public/**"],
  "rules": {
    "no-underscore-dangle": "off",
    "no-console": "off",
    "func-names": "off",
    "no-param-reassign": "off"
  }
}
