.articles__grid {
  margin: 64px auto 64px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .articles__grid {
    margin: 32px auto;
    gap: 8px;
  }
}