@import url('_theme/nav__link_theme_dark.css');
@import url('_theme/nav__link_theme_light.css');


.nav__link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
