.search__title {
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .search__title {
    max-width: 385px;
  }
}

@media (max-width: 767px) {
  .search__title {
    margin-left: 16px;
  }
}