@import url('./__title/articles__title.css');
@import url('./__grid/articles__grid.css');
@import url('./__link/articles__link.css');
@import url('./__container/articles__container.css');
@import url('./_is-opened/articles_is-opened.css');


.articles {
  background-color: #F5F6F7;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 80px 0;
  display: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .articles {
    padding: 40px 0;
  }
}