@import url('./__img/article__img.css');
@import url('./__button-container/article__button-container.css');
@import url('./__button/article__button.css');
@import url('./__button-text/article__button-text.css');
@import url('./__date/article__date.css');
@import url('./__text-container/article__text-container.css');
@import url('./__title/article__title.css');
@import url('./__text/article__text.css');
@import url('./__link/article__link.css');
@import url('./__tag/article__tag.css');

.article {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}