.article__text-container {
  margin: 20px 24px 24px 24px ;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .article__text-container {
    margin: 16px;
  }
}

@media (max-width: 767px) {
  .article__text-container {
    margin: 10px 16px 16px 16px;
  }
}