.header-area_theme_dark {
  color: #ffffff;
  background-size: cover;
  background: url("../../../images/header__bg.png") no-repeat;
}


@media (min-width: 768px) and (max-width: 1439px) {
  .header-area_theme_dark {
    background: url("../../../images/header_bg_768.jpg") no-repeat;
    background-size: cover;
  }
}