<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="NewsExplorer">
  <meta name="keywords" content="NewsExplorer, HTML, CSS">
  <meta name="author" content="DK">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
  <title>NewsExplorer</title>
<!--  <link rel="stylesheet" href="../styles/articles.css">-->
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
</head>
<body>
<div class="root">

  <section class="header-area  header-area_theme_light root__header">
    <header class="header header_theme_light">
      <a href="./" class="header__logo">NewsExplorer</a>
      <ul class="nav nav_place_header">
        <li class="nav__item">
          <a href="./" class="nav__link">Главная</a>
        </li>
        <li class="nav__item">
          <a href="../" class="nav__link nav__link_theme_light">Сохраненные статьи</a>
        </li>
        <li class="nav__item">
          <div class="button button_theme_light button_size_xs">
            <a href=" " class="nav__link">Грета</a><img src="../images/logout.svg" alt="" class="button__ico">
          </div>
        </li>
      </ul>
    </header>
    <div class="info">
      <p class="subtitle subtitle_theme_light">Сохранённые статьи</p>
      <h2 class="title title_size_m info__title">Грета, у вас 5 сохранённых статей</h2>
      <p class="text">По ключевым словам: <span class="text text_type_emphasized">Природа, Тайга</span> и <span class="text text_type_emphasized">2 другим</span></p>
    </div>
  </section>

  <section class="articles root__articles articles_is-opened">
    <div class="articles__container">
      <h2 class="articles__title title title_size_m">Результаты поиска</h2>
      <div class="articles__grid">

        <div class="article">
          <img src="../images/card.png" alt="На картинке изображены растения" class="article__img">
          <div class="article__button-container">
            <div class="article__button article__button_type_alert">
              <p class="article__button-text article__button-text_is-dark">Убрать из сохранённых</p>
            </div>
            <div class="article__button article__button_type_trash"></div>
          </div>
          <div class="article__tag">
            <p class="article__button-text article__button-text_is-dark">Природа</p>
          </div>
          <div class="article__text-container">
            <p class="article__date">2 августа, 2019</p>
            <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
            <p class="article__text">
              В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
            </p>
            <a href="" class="title title_size_xs article__link">ЛЕНТА.РУ</a>
          </div>
        </div>
        <div class="article">
          <img src="../images/card.png" alt="На картинке изображены растения" class="article__img">
          <div class="article__button-container">
            <div class="article__button article__button_type_alert">
              <p class="article__button-text article__button-text_is-dark">Убрать из сохранённых</p>
            </div>
            <div class="article__button article__button_type_trash"></div>
          </div>
          <div class="article__tag">
            <p class="article__button-text article__button-text_is-dark">Природа</p>
          </div>
          <div class="article__text-container">
            <p class="article__date">2 августа, 2019</p>
            <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
            <p class="article__text">
              В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
            </p>
            <a href="" class="title title_size_xs article__link">ЛЕНТА.РУ</a>
          </div>
        </div>
        <div class="article">
          <img src="../images/card.png" alt="На картинке изображены растения" class="article__img">
          <div class="article__button-container">
            <div class="article__button article__button_type_alert">
              <p class="article__button-text article__button-text_is-dark">Убрать из сохранённых</p>
            </div>
            <div class="article__button article__button_type_trash"></div>
          </div>
          <div class="article__tag">
            <p class="article__button-text article__button-text_is-dark">Природа</p>
          </div>
          <div class="article__text-container">
            <p class="article__date">2 августа, 2019</p>
            <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
            <p class="article__text">
              В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
            </p>
            <a href="" class="title title_size_xs article__link">ЛЕНТА.РУ</a>
          </div>
        </div>
        <div class="article">
          <img src="../images/card.png" alt="На картинке изображены растения" class="article__img">
          <div class="article__button-container">
            <div class="article__button article__button_type_alert">
              <p class="article__button-text article__button-text_is-dark">Убрать из сохранённых</p>
            </div>
            <div class="article__button article__button_type_trash"></div>
          </div>
          <div class="article__tag">
            <p class="article__button-text article__button-text_is-dark">Природа</p>
          </div>
          <div class="article__text-container">
            <p class="article__date">2 августа, 2019</p>
            <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
            <p class="article__text">
              В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
            </p>
            <a href="" class="title title_size_xs article__link">ЛЕНТА.РУ</a>
          </div>
        </div>
        <div class="article">
          <img src="../images/card.png" alt="На картинке изображены растения" class="article__img">
          <div class="article__button-container">
            <div class="article__button article__button_type_alert">
              <p class="article__button-text article__button-text_is-dark">Убрать из сохранённых</p>
            </div>
            <div class="article__button article__button_type_trash"></div>
          </div>
          <div class="article__tag">
            <p class="article__button-text article__button-text_is-dark">Природа</p>
          </div>
          <div class="article__text-container">
            <p class="article__date">2 августа, 2019</p>
            <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
            <p class="article__text">
              В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
            </p>
            <a href="" class="title title_size_xs article__link">ЛЕНТА.РУ</a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer class="footer root__footer">
    <div class="footer__copyright-container">I</div>
    <ul class="nav nav_place_footer footer__nav">
      <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
      <li class="nav__item"><a href="htts://praktikum.yande.ru" class="nav__link" target="_blank">Яндекс.Практикум</a></li>
      <li class="nav__item"><a href="#" class="nav__link" target="_blank"><img src="../images/github.svg" alt="Github" class="nav__ico"></a></li>
      <li class="nav__item"><a href="#" class="nav__link" target="_blank"><img src="../images/fb.svg" alt="Facebook" class="nav__ico"></a></li>
    </ul>
  </footer>

</div>

<!--<script src="../scripts/articles.js"></script>-->
<script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>