<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="NewsExplorer">
  <meta name="keywords" content="NewsExplorer, HTML, CSS">
  <meta name="author" content="DK">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="<%=require('../images/favicon.png').default%>" type="image/x-icon">
  <title>NewsExplorer</title>
<!--  <link rel="stylesheet" href="../styles/index.css">-->
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
</head>
<body>
<div class="root">

  <section class="header-area header-area_theme_dark root__header">
    <header class="header">
      <a href="./" class="header__logo">NewsExplorer</a>
<!--      Mobile Menu    -->
      <div class="burger-button burger-button_theme_dark"></div>
      <div class="menu">
          <nav class="menu__container">
          <a href="./" class="menu__logo menu__logo_theme_dark">NewsExplorer</a>
          <hr class="menu__separator">
          <ul class="menu__list">
            <li class="menu__item menu__main">
              <a href="./" class="menu__link">Главная</a>
            </li>
<!--         <li class="menu__item"><a href="./articles.html" class="menu__link">Сохраненные статьи</a></li>-->
          </ul>
          <button class="signin button button_size_l button_theme_dark menu__button">
            <span class="auth-text">Авторизоваться</span>
            <svg  class="button__ico button__ico_is-hidden" width="24" height="24" viewBox="0 0 24 24" fill="#000" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10 6L6 6L6 18H10V20H6C4.89543 20 4 19.1046 4 18V6C4 4.89543 4.89543 4 6 4H10V6ZM17.5856 13L13.2927 17.1339L14.707 18.4958L21.4141 12.0371L14.707 5.57837L13.2927 6.9402L17.5856 11.0741H8V13H17.5856Z"/>
            </svg>
          </button>
        </nav>

      </div>

<!--  Desktop Navigation Bar   -->
      <nav class="nav header__nav">
        <ul class="nav__links nav__links_place_header">
          <li class="nav__item nav__main">
            <a href="./" class="nav__link nav__link_theme_dark">Главная</a>
          </li>
          <li class="nav__item auth-button">
<!--            <button class="signin button button_theme_dark button_size_m nav__button">-->
<!--              <span class="auth"></span>-->
<!--&lt;!&ndash;        delete this      <img src="<%=require('../images/logout.svg').default%>" alt="" class="button__ico">&ndash;&gt;-->
<!--&lt;!&ndash;              <svg  class="button__ico button__ico_is-hidden" width="24" height="24" viewBox="0 0 24 24" fill="#000" xmlns="http://www.w3.org/2000/svg">&ndash;&gt;-->
<!--&lt;!&ndash;                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 6L6 6L6 18H10V20H6C4.89543 20 4 19.1046 4 18V6C4 4.89543 4.89543 4 6 4H10V6ZM17.5856 13L13.2927 17.1339L14.707 18.4958L21.4141 12.0371L14.707 5.57837L13.2927 6.9402L17.5856 11.0741H8V13H17.5856Z"/>&ndash;&gt;-->
<!--&lt;!&ndash;              </svg>&ndash;&gt;-->
<!--            </button>-->
          </li>
        </ul>
      </nav>
    </header>

    <div class="search header-area__search">
      <div class="search__container">
        <h1 class="title title_size_l search__title">Что в мире творится?</h1>
        <p class="subtitle search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своем личном кабинете.</p>
        <form class="search__form" name="search">
          <input type="text" class="search__input" placeholder="Введите тему новости" id="newsSearch" required>
          <button class="button button_state_active button_size_s search__button">Искать</button>
        </form>
      </div>
    </div>
  </section>

  <section class="articles root__articles articles_is-opened">
    <div class="articles__container">
      <h2 class="articles__title title title_size_m">Результаты поиска</h2>
      <div class="articles__grid">
        <div class="article">
          <img src="<%=require('../images/card.png').default%>" alt="На картинке изображены растения" class="article__img">
          <div class="article__button-container">
            <div class="article__button article__button_type_alert">
              <p class="article__tooltip">Войдите, чтобы сохранить статьи</p>
            </div>
            <button class="article__button article__button_type_mark"></button>
          </div>
          <div class="article__text-container">
            <p class="article__date">2 августа, 2019</p>
            <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
            <p class="article__text">
              В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
            </p>
            <a href="" class="title title_size_xs article__link">ЛЕНТА.РУ</a>
          </div>
        </div>
        <div class="article">
          <img src="<%=require('../images/card.png').default%>" alt="На картинке изображены растения" class="article__img">
          <div class="article__button-container">
            <div class="article__button article__button_type_alert">
              <p class="article__tooltip">Войдите, чтобы сохранить статьи</p>
            </div>
            <button class="article__button article__button_type_mark"></button>
          </div>
          <div class="article__text-container">
            <p class="article__date">2 августа, 2019</p>
            <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
            <p class="article__text">
              В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
            </p>
            <a href="" class="title title_size_xs article__link">ЛЕНТА.РУ</a>
          </div>
        </div>
        <div class="article">
          <img src="<%=require('../images/card.png').default%>" alt="На картинке изображены растения" class="article__img">
          <div class="article__button-container">
            <div class="article__button article__button_type_alert">
              <p class="article__tooltip">Войдите, чтобы сохранить статьи</p>
            </div>
            <button class="article__button article__button_type_mark"></button>
          </div>
          <div class="article__text-container">
            <p class="article__date">2 августа, 2019</p>
            <h3 class="title title_size_s article__title">Национальное достояние – парки</h3>
            <p class="article__text">
              В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
            </p>
            <a href="" class="title title_size_xs article__link">ЛЕНТА.РУ</a>
          </div>
        </div>
      </div>
    </div>

   <button  class="button button_size_l button_theme_white articles__button">Показать еще</button>
  </section>

  <section class="not-found not-found_is-opened">
    <img src="<%=require('../images/not-found.png').default%>" alt="Ничего не найдено" class="not-found__img">
    <h3 class="title title_size_s">Ничего не найдено</h3>
    <p class="subtitle subtitle_theme_light not-found__subtitle">К сожадению по вашему вопросу ничего не найдено</p>
  </section>

  <section class="preloader preloader_is-opened">
    <i class="preloader__circle"></i>
    <h5 class="subtitle subtitle_theme_light">Идет поиск новостей</h5>
  </section>

  <div class="author">
    <picture class="author__img">
      <source srcset="<%=require('../images/beard-320.jpg').default%>" media="(min-width: 320px) and (max-width: 767px)">
      <source srcset="<%=require('../images/beard-768.jpg').default%>" media="(min-width: 600px) and (max-width: 1439px)">
      <img src="<%=require('../images/beard-1440-464.jpg').default%>" alt="Изображение автора">
    </picture>
    <article class="author__text-container">
      <h2 class="title title_size_m author__title">Об авторе</h2>
      <p class="author__text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.
      </p>
      <p class="author__text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
    </article>
  </div>

  <footer class="footer">
    <div class="footer__copyright-container"></div>

    <nav class="nav nav_place_footer footer__nav">
      <ul class="nav__links nav__links_place_footer">
        <li class="nav__item">
          <a href="./" class="nav__link nav__link_theme_dark">Главная</a>
        </li>
        <li class="nav__item"><a href="https://praktikum.yandex.ru" class="nav__link" target="_blank">Яндекс.Практикум</a>
      </ul>
      <ul class="social">
        <li class="social__item"><a href="https://github.com/i386net/" target="_blank" class="social__link"><img src="<%=require('../images/github.svg').default%>" alt="Github" class="social__img"></a></li>
        <li class="social__item"><a href="https://facebook.com" target="_blank" class="social__link"><img src="<%=require('../images/fb.svg').default%>" alt="Facebook" class="social__img"></a></li>
      </ul>
    </nav>
  </footer>


<!--  popup-->
<!--  to view popups add popup_is-opened-->

  <div class="popup popup_type_signin">
    <div class="popup__content">
      <picture>
        <source srcset="<%=require('../images/mobile-close.svg').default%>" media="(max-width: 500px)">
        <img src="<%=require('../images/close.svg').default%>" alt="" class="popup__close popup__close_type_signin"/>
      </picture>

      <h3 class="popup__title">Вход</h3>
      <form class="popup__form popup__form_login" name="signin" novalidate>
        <span class="popup__subtitle">Email</span>
        <input
          type="email"
          name="email"
          id="signin-email"
          class="popup__input popup__input_type_email"
          placeholder="Введите почту"
          required
        />
        <span class="error-message error-message_is-opened">Неправильный формат email</span>
        <span class="popup__subtitle">Пароль</span>
        <input
          type="password"
          name="password"
          id="signin-password"
          class="popup__input popup__input_type_password"
          placeholder="Введите пароль"
          required
        />
        <span class="error-message error-message_is-opened">Неправильный формат пароля</span>
        <button type="submit" class="button button_size_xl button_state_active popup__button">Войти</button>
        <p class="popup__text">или <a href="#" class="popup__link popup__link_type_reg">Зарегистрироваться</a></p>
      </form>
    </div>
  </div>

  <div class="popup popup_type_signup">
    <div class="popup__content">
      <img src="<%=require('../images/close.svg').default%>" alt="" class="popup__close popup__close_type_signup" />
      <h3 class="popup__title">Регистрация</h3>
      <form class="popup__form popup__form_signup" name="signup" novalidate>
        <span   class="popup__subtitle">Email</span>
        <input
          type="email"
          name="email"
          id="signup-email"
          class="popup__input popup__input_type_email"
          placeholder="Введите почту"
          required
        />
        <span id="error-email" class="error-message error-message_is-opened">Неправильный формат email</span>
        <span class="popup__subtitle">Пароль</span>
        <input
          type="password"
          name="password"
          id="signup-password"
          class="popup__input popup__input_type_password"
          placeholder="Введите пароль"
          required
        />
        <span id="error-password" class="error-message error-message_is-opened">Неправильный формат пароля</span>

        <span class="popup__subtitle">Имя</span>
        <input
          type="text"
          name="name"
          id="signup-name"
          class="popup__input popup__input_type_name"
          placeholder="Введите имя"
          required
        />
        <span id="error-name" class="error-message error-message_is-opened">Неправильный формат имени</span>
        <span class="error-message error-message_is-centered error-message_is-opened" id="user-exists">Такой пользователь уже есть</span>

        <button id="register" type="submit" class="button button_size_xl button_state_inactive popup__button popup__button_is_inactive">Зарегистрироваться</button>
        <p class="popup__text">или <a href="" class="popup__link popup__link_type_login">Войти</a></p>
      </form>
    </div>
  </div>

  <div class="popup popup_type_registered">
    <div class="popup__content">
      <img src="<%=require('../images/close.svg').default%>" alt="" class="popup__close popup__close_type_reged" />
      <h3 class="popup__title">Пользователь успешно зарегистрирован!</h3>
      <a href="" class="popup__link">Выполнить вход</a>
    </div>
  </div>
</div>

<!--<script src="../scripts/classes/Popup.js"></script>-->
<!--<script src="../scripts/index.js"></script>-->
<script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>