.nav__link_theme_light:hover {
  border-bottom: 3px solid #1A1B22;
  padding-bottom: 28px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .nav__link_theme_light:hover {
    padding-bottom: 23px;
  }
}