.article__button_type_mark {
  width: 40px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.article__button_type_mark:hover .article__bookmark {
  stroke: #1A1B22;
}
