@import url('./__logo/header__logo.css');

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 104px;
  border-bottom: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}