.menu__logo {
  font-family: "Roboto Slab", Arial, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  margin: 16px 0 16px 16px;
}